.color-box {
    width: 100%;
    max-width: 300px;
    height: 150px;
    border-radius: 12px;
    border: 1px solid #ddd;
    background-color: rgb(0, 0, 0);
    transition: background-color 0.3s ease;
}

input[type="color"] {
    width: 80px;
    height: 40px;
    border: none;
    padding: 0;
    cursor: pointer;
}

.card {
    border-radius: 15px;
}
